<div class="panel panel-info" ng-if="success">
    <div class="panel-heading">
        Host Information of  <strong>{{artifact.data | fang}}</strong>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Description</dt>
            <dd>{{content['EPOComputerProperties.Description']}}</dd>
        </dl>
		<dl class="dl-horizontal">
            <dt>Computer Name</dt>
            <dd>{{content['EPOComputerProperties.ComputerName']}}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>User Name</dt>
            <dd>{{content['EPOComputerProperties.UserName']}}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>MAC Address</dt>
            <dd>{{content['EPOComputerProperties.NetAddress']}}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>OS</dt>
            <dd>{{content['EPOComputerProperties.OSType']}}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>LastUpdate</dt>
            <dd>{{content['EPOLeafNode.LastUpdate']}}</dd>
        </dl>        
    </div>
</div>

<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{artifact.data | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>
